@import "_variables";
@import "_classes";
//*********************************************
body{
  background-color:$bg_back;
  margin:0;
  color:$font_color;
  font-family:$font_style;
}
nav{
  float:left;
  width:15%;
  box-sizing:border-box;
  background-color:$bg_front;
  padding:10em 0;
  height:995px;
  ul{
    text-align:center;
    li{
      padding:10px 0;
      button{
        width:90%;
      }
    }
  }
}
header{
  width:100%;
  height:125px;
  background-color:$bg_front;
  float:left;
  text-align:center;
  position:relative;
  h1{
    font-size:4em;
    margin:auto;
    display:inline-block;
    line-height:125px;
  }
  button{
    @extend.styleButton;
    position:absolute;
    top:33%;
    left:2%;
    font-size:2em;
  }
}
#rightWrapper{
  float:left;
  width:100%;
  ul{
    display:flex;
    justify-content: space-around;
    width:100%;
    text-align:center;
    margin:2em auto 4em auto;
  }
}
