.invis {
  display: none; }

.wipeUL {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.styleButton, header button {
  background-color: #d5d6d9;
  border: 3px solid #2d4a87;
  font-size: 1.5em;
  font-family: "Open Sans";
  color: #2d4a87;
  border-radius: 10px;
  transition: background-color 300ms linear, color 300ms linear, border 300ms linear;
  padding: 0.2em 1em; }

.imgOut {
  padding-top: 1.5em;
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0 0 1em grey;
  transition: transform 300ms linear; }

.imgIn {
  width: 250px;
  height: 250px;
  display: inline-block;
  background-color: lightblue;
  background-size: cover; }

.imgLabel {
  width: 100%;
  display: inline-block;
  font-size: 1.5em;
  color: #2d4a87;
  padding: 1em 0; }

.imgOut:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer; }

button:hover {
  background-color: #2d4a87;
  color: white;
  border: 3px solid white;
  cursor: pointer; }

body {
  background-color: white;
  margin: 0;
  color: #2d4a87;
  font-family: "Open Sans"; }

nav {
  float: left;
  width: 15%;
  box-sizing: border-box;
  background-color: #d5d6d9;
  padding: 10em 0;
  height: 995px; }
  nav ul {
    text-align: center; }
    nav ul li {
      padding: 10px 0; }
      nav ul li button {
        width: 90%; }

header {
  width: 100%;
  height: 125px;
  background-color: #d5d6d9;
  float: left;
  text-align: center;
  position: relative; }
  header h1 {
    font-size: 4em;
    margin: auto;
    display: inline-block;
    line-height: 125px; }
  header button {
    position: absolute;
    top: 33%;
    left: 2%;
    font-size: 1.5em; }

#rightWrapper {
  float: left;
  width: 100%; }
  #rightWrapper ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin: 2em auto 4em auto; }
